<div class="container">
    <div class="main">

        <div class="heads">
            <div class="head">
                Home
            </div>

            <div class="head1">
                / My cart
            </div>
        </div>

        <div class="body">
            <mat-card>
                <div class="name">
                    My Cart({{count}})
                </div>

                <div class="location" fxLayoutAlign=" center" fxHide.xs>
                    <span class="material-symbols-outlined">
                        pin_drop
                    </span>
                </div>

                <div>
                    <p fxHide.xs style="font-size:14px;color: #0A0102; margin-left:530px;margin-top: -25px;">
                        Ichalkaranji,
                        Kolhapur</p>
                </div>

                <div class="cart" *ngFor="let cart of Carts">

                    <div class="img">
                        <img src="../../../assets/getBook/Image 13.png">
                    </div>

                    <div class="name1">
                        {{cart.product_id.bookName}}
                    </div>

                    <div class="author">
                        by {{cart.product_id.author}}
                    </div>

                    <div class="price">
                        Rs. {{cart.product_id.price}}
                    </div>

                    <div class="discount">
                        <del>Rs. {{cart.product_id.discountPrice}}</del>
                    </div>

                    <div class="plus" (click)="minus()">
                        <button>
                            <span>-</span>
                        </button>
                    </div>

                    <div class="number">
                        <input type="text" [value]="quantity"  style="width: 15px;">
                    </div>

                    <div class="minus" (click)="plus()">
                        <button>
                            <span>+</span>
                        </button>
                    </div>

                    <div class="remove">
                        <button (click)="remove(cart)">Remove</button>
                    </div>

                </div>

                <div *ngIf="visible">
                    <button class="order" (click)="order()">Place Order</button>
                </div>
            </mat-card>

        </div>

        <br>
        <div class="main2" *ngIf="visible">
            <mat-card class="card21">
                Address Details
            </mat-card>
        </div>

        <br>
        <div class="main3" *ngIf="visible">
            <mat-card class="card31">
                Order Summary
            </mat-card>
        </div>

        <br>
        
        <div class="main4" *ngIf="valid">
            <mat-card class="card3">

                <div class="name4">
                    Customer Details
                </div>

                <div class="address" fxHide.xs>
                    <button
                        style="border: none;outline: none;background-color: white;font-size: 15px;color: #A03737;margin-top: 5px;">Add
                        new Address</button>
                </div>

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="firstName">
                        <p>
                            <mat-form-field class="FN" appearance="outline">
                                <mat-label>Full Name</mat-label>
                                <input matInput placeholder="Full Name" formControlName="fullName">
                            </mat-form-field>
                        </p>
                    </div>

                    <div class="mobile">
                        <p>
                            <mat-form-field class="MN" appearance="outline">
                                <mat-label>Mobile Number</mat-label>
                                <input matInput placeholder="Mobile Number" formControlName="phone">
                            </mat-form-field>
                        </p>
                    </div>

                    <div class="work" fxHide.xs>
                        <span class="material-symbols-outlined" style="color: #A03737;font-size: 15px;">
                            radio_button_checked
                        </span>
                        <p style="font-weight: 500;margin-left: 20px;margin-top: -23px;">1. WORK</p>
                        <p style="font-weight: 500;margin-left: 83px;margin-top: -28px;font-size: 12px;color: #A03737;">
                            EDIT</p>
                    </div>

                    <div class="address2"> 
                        <p class="add">
                            <mat-form-field  style="width: 340px;" appearance="outline">
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Address" formControlName="fullAddress">
                            </mat-form-field>
                        </p>
                    </div>

                    <div class="city">
                        <p>
                            <mat-form-field class="CT" appearance="outline">
                                <mat-label>City/Town</mat-label>
                                <input matInput placeholder="City / Town" formControlName="city">
                            </mat-form-field>
                        </p>
                    </div>

                    <div class="state">
                        <p>
                            <mat-form-field class="ST" appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" formControlName="state">
                            </mat-form-field>
                        </p>
                    </div>

                    <div *ngIf="valid">
                        <div *ngIf="show">
                            <button class="continue" (click)="continue();" mat-raised-button>Continue</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
        <br><br>

        <div *ngIf="valid">
            <div class="main5" *ngIf="close" style="border: 1px solid white">
                <mat-card class="card10">
                    <p class="summary" style="margin-left:12px">Order Summary ({{count}})</p>
                    <div *ngFor="let cart of Carts">
                        <div class="img1" style="margin-top:50px;margin-left: 12px;">
                            <img src="../../../assets/getBook/Image 13.png">
                        </div>

                        <div class="name1" style="margin-top:-130px;margin-left: 150px;">
                            {{cart.product_id.bookName}}
                        </div>

                        <div class="author" style="margin-top:10px;margin-left: 150px;">
                            by {{cart.product_id.author}}
                        </div>

                        <div class="price" style="margin-top:10px;margin-left: 150px;">
                            Rs. {{cart.product_id.price}}
                        </div>

                        <div class="discount" style="margin-top:10px;margin-left: 150px;">
                            <del>Rs. {{cart.product_id.discountPrice}}</del>
                        </div>
                    </div>

                    <div style="font-size: 20px;margin-left:10px;margin-top:50px">
                    Total :{{sum}}                         
                    </div>

                    <br><br>

                    <div (click)="orderPlace()">
                        <button class="checkout" mat-raised-button>
                            Check Out
                        </button>
                    </div>

                </mat-card>
            </div>
        </div>
    </div>
</div>

<footer class="footer" fxLayoutAlign="center center">
    Copyright &copy; 2020. Bookstore Private Limited. All Rights Reserved.
</footer>