<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container" fxLayoutAlign="center center">
    <div class="main">

        <div class="name" fxLayoutAlign="center center">
            Books
            <span style="font-size: 13px; color:#000">(28)</span>
            <mat-form-field appearance="outline" class="sorting">
                <mat-label>Sort by relevence</mat-label>
                <mat-select>
                    <mat-option (click)=" low()">Low to High </mat-option>
                    <mat-option (click)=" high()">High to low</mat-option>
                    <mat-option>Newest Arrivals</mat-option>
                </mat-select>
            </mat-form-field>
        </div><br><br>


        <div class="book">

            <mat-card *ngFor="let book of Books | filter: searchWord | paginate: { itemsPerPage: 8, currentPage: page}"
                style="width: 270px;height: 320px;column-gap: 100px">

                <div class="img" fxLayoutAlign="center center" style="margin-top:-16px;width:302px;margin-left:-16px" (click)="view(book)">
                    <img src="../../../assets/getBook/Image 13.png">
                </div><br><br>

                <div class="name1">
                    {{book.bookName}}
                </div>

                <div class="author">
                    by {{book.author}}
                </div>

                <div class="star">
                    4.5
                    <span class="material-symbols-outlined" style="font-size:10px; color: #fff;">
                        grade
                    </span>

                    <div class="quantity">
                        ({{book.quantity}})
                    </div>

                </div>

                <div class="price">
                    Rs. {{book.price}}
                </div>

                <div class="discount">
                    <del>Rs. {{book.discountPrice}}</del>
                </div>

                <div *ngIf="show" fxlayoutalign="center center">
                    <button class="adding" (click)="myCart(book)">
                        ADD TO CART
                    </button>

                    <button class="wish" (click)="wishlist(book)" style="margin-left: 20px;">
                        WISHLIST
                    </button>
                </div>

                <div *ngIf="valid">
                    <button class="adding" style="margin-left: 20px;">
                        Added TO Bag
                    </button>
                </div>
                
            </mat-card>
        </div>
    </div>
</div>
<br>
<div fxLayoutAlign="center center">
    <pagination-controls class="paging my-pagination" (pageChange)="page = $event"></pagination-controls>
</div>

<br><br>
<footer class="footer" fxLayoutAlign="center center">
    <p>Copyright &copy; 2020, Bookstore Private Limited. All Rights Reserved</p>
</footer>