.heads {
    margin-top: 20px;
    margin-left: 155px;
}

.head {
    color: #9D9D9D;
    font: normal normal normal 12px/16px Roboto;
}

.head1 {
    margin-top: -16px;
    margin-left: 35px;
    font: normal normal normal 12px/16px Roboto;
}

.body {
    width: 800px;
    margin-top: 50px;
    margin-left: 160px;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
}
.remove{
    margin-left: 500px;
}