.main {
    background-color: #A03037;
}

.img {
    margin-left: -30px;
    margin-top: 10px;
}

.text {
    color: #ffffff;
    text-align: left;
    font: normal normal normal 20px Roboto;
}

.search {
    margin-left: 130px;
    width: 550px;
    height: 30px;
    background: #FCFCFC;
    border-radius: 3px;
    opacity: 1;
    outline: none;
    border: none;
    font-size: 16px;
}

.cart {
    cursor: pointer;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
}

.wish {
    cursor: pointer;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
}


@media (max-width:400px) {
    .container{
        width: 390px;
    }

    .img{
        margin-left: 15px;
        width: 100px;
    }

    .text{
        font-size: 15px;
    }

    .search{
        margin-left: 22px;
        font-size: 10px;
        width: 150px;
    }

    .icon{
        margin-left: -180px;
    }

}