<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container">
    <mat-toolbar class="main">
        <mat-toolbar-row fxLayoutAlign="center center">

            <div class="img">
                <img src="../../../assets/dashboard/education.png">
            </div>

            <div class="text">
                <span>Bookstore</span>
            </div>

            <div>
                <input type="text" class="search" placeholder="Search...">
            </div>

            <div class="icon">
                <button class="material-symbols-outlined"
                    style="border: none;margin-left: 150px; outline:none;background-color: #A03037;color: #ffffff;cursor: pointer;">
                    person
                    <div class="profile">Profile</div>
                </button>
            </div>

            <div class="icon">
                <button class="material-symbols-outlined"
                    style="margin-left:20px;border: none; outline:none;background-color: #A03037;color: #ffffff;cursor: pointer;">
                    shopping_cart
                    <div class="cart">cart</div>
                </button>
            </div>

        </mat-toolbar-row>
    </mat-toolbar>
</div>