<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container">
    <mat-toolbar class="main">
        <mat-toolbar-row fxLayoutAlign="center center">

            <div class="img" (click)="home()">
                <img src="../../../assets/dashboard/education.png">
            </div>

            <div class="text" (click)="home()" fxHide.xs>
                <span>Bookstore</span>
            </div>

            <div>
                <input type="text" class="search" placeholder="Search..."  (keyup)="searchTitle($event)">
            </div>

            <div class="icon">
                <button class="material-symbols-outlined"
                    style="margin-left:150px;border: none; outline:none;background-color: #A03037;color: #ffffff;cursor: pointer;">
                    person
                    <div class="wish">
                        <button mat-button [matMenuTriggerFor]="menu"
                            style="border: none; outline:none;background-color: #a03737;color: #ffffff;cursor: pointer;">profile</button>
                        <mat-menu #menu="matMenu">
                            <p style="font-size: 15px;margin-top:10px;margin-left: 10px;">Welcome</p>
                            <hr>
                            <button mat-menu-item (click)="myCart();">My Orders</button>
                            <button mat-menu-item (click)="wishlist();">Wishlist</button>
                            <button mat-menu-item (click)="Logout();">Logout</button>
                        </mat-menu>
                    </div>
                </button>
            </div>


            <div class="icon1" (click)="myCart();">
                <button class="material-symbols-outlined"
                    style="margin-left:50px;border: none; outline:none;background-color: #A03037;color: #ffffff;cursor: pointer;">
                    shopping_cart
                    <div class="cart">cart</div>
                </button>
            </div>

        </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>