.heads {
    margin-top: 20px;
    margin-left: 205px;
}

.head {
    color: #9D9D9D;
    font: normal normal normal 12px/16px Roboto;
}

.head1 {
    margin-top: -16px;
    margin-left: 35px;
    // font: bolder;
    font: bold 12px/16px Roboto;
}

.body {
    width: 300px;
    margin-top: -105px;
    margin-left: 300px;
    border-radius: 1px;
}

.img {
    padding: 10px 10px 10px 10px;
}

.add {
    margin-top: 25px;
    height: 30px;
    width: 130px;
    margin-left: -440px;
    background-color: #A03037;
    color: #fff;
    border: none;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.wish {
    margin-top: 25px;
    border-radius: 2px;
    width: 130px;
    margin-left: -320px;
    height: 30px;
    background-color: #333333;
    border-radius: 5px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.details {
    margin-left: 650px;
    margin-top: -420px;
}

.name1 {
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
}

.author {
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    margin-top: 10px;
}

.star {
    background-color: #388E3C;
    width: 40px;
    height: 20px;
    padding-left: 5px;
    margin-top: 10px;
    font-size: 15px;
    color: #ffffff;
}

.quantity{
    text-align: left;
    font: normal normal normal 14px/20px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    margin-left: 60px;
    margin-top: -20px;
}

.price {
    margin-top: 20px;
    font-weight: 500;
    font-size: 25px;
}

.discount {
    margin-top: -20px;
    margin-left: 110px;
    color: #878787;
}

.book {
    margin-top: 20px;
    margin-left: 650px;
    color: #878787;
}

.description {
    margin-left: 650px;
    font-size: 15px;
}

.line1{
    margin-left: 650px;
    margin-top: 30px;
    width: 800px;
}

.customer {
    margin-top: 30px;
    font-size: 20px;
    margin-left: 650px;
    font-weight: 400;
}

.rating {
    margin-top: 20px;
    margin-left: 650px;
    width: 700px;
}

.overall {
    font-size: 13px;
}

.mark:not(:checked)>label:before {
    content: '★ ';
}

.mark {
    margin-right: 510px;
    margin-top: 10px;
}

.mark:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.mark:not(:checked)>label {
    float: right;
    width: 1em;
    margin-bottom: 4px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;

}

.mark>input:checked~label {
    color: #ffc700;
}

.review {
    margin-top: 20px;
    width: 650px;
    height: 60px;
    background-color: #fff;
    border: none;
    outline: none;
    border: 1px solid black;
}

.submit {
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    margin-left: 550px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background-color: #3371B5;
    color: #ffffff;
}

.comment {
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.array {
    margin-left: 80px;
}

footer {
    height: 50px;
    font-size: 15px;
    background-color: #2E1D1E;
    color: #ffffff;
    font: normal normal medium 12px/15px Lato;
}

@media (max-width:400px) {
    .container {
        width: 390px;
    }

    .heads {
        margin-left: 30px;
    }

    .img1{
        margin-left: -240px;
    }
    
    .img2{
        margin-left: -240px;
    }
    
    .body{
        margin-left: 60px;
    }

    .add{
        margin-left: 10px;
    }

    .wish{
        margin-left: -20px;
    }

    .details{
        margin-left: 50px;
        margin-top: 50px;
    }

    .author{
        font-size: 25px;
    }

    .star{
        font-size: 20px;
        margin-top: 20px;
    }

    .discount{
        font-size: 20px;
    }

    .book{
        margin-top: 50px;
        margin-left: 30px;
    }

    .description{
        text-align: start;
        margin-top: 15px;
        margin-left: 30px; 
    }

    .line1{
        width: 350px;
        margin-left: 30px;
    }

    .feedback{
        margin-left: -620px;
    }

    .rating{
        width: 100px;
        margin-left: 650px;
    }

    .hello{
        width: 300px;
    }

    .mark:not(:checked)>label:before {
        content: '★ ';
    }
    
    .mark {
        margin-right: 150px;
        margin-top: 10px;
    }
    
    .mark:not(:checked)>input {
        position: absolute;
        top: -9999px;
    }
    
    .mark:not(:checked)>label {
        float: right;
        width: 1em;
        margin-bottom: 4px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    
    }
    
    .mark>input:checked~label {
        color: #ffc700;
    }
    

    .review{
        width: 280px;
    }

    .submit{
        margin-left: 190px;
    }

    .array{
        margin-left: 10px;
    }

    .footer{
        font-size: 13px;
    }
}