<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="main">

        <div class="heads">

            <div class="head">
                <span routerLink="/home/getbook">Home</span>
            </div>

            <div class="head1">
                / Book(01)
            </div>
        </div>

        <div class="img1">
            <img src="../../../assets/getBook/Image 13@2x.png"
                style="width:30px;margin-left: 264px;border: 2px solid #A03737;margin-top: 30px;">
        </div>

        <div class="img2">
            <img src="../../../assets/getBook/Image 13@2x.png" style="width:30px;margin-left: 264px;margin-top: 2px;">
        </div>

        <div class="body">

            <mat-card>
                <div class="img">
                    <img src="../../../assets/getBook/Image 13@2x.png" style="width:240px;height:320px;;">
                </div>
            </mat-card>

        </div>

        <div fxLayoutAlign="center center" fxLayoutGap="20px">

            <div>
                <button class="add" mat-button >ADD TO BAG</button>
            </div>

            <div class="heart">

                <span class="material-symbols-outlined"
                    style="color:#fff;font-size: 20px;margin-top: 30px;position:absolute;margin-left: -450px;">
                    favorite
                </span>

            </div>

            <div>
                <button class="wish" mat-button >WISHLIST</button>
            </div>

        </div>

        <div class="details">

            <div class="name1">
                {{Books?.bookName}}
            </div>

            <div class="author">
                by {{Books?.author}}
            </div>

            <div class="star">
                4.5
                <span class="material-symbols-outlined" style="font-size:10px; color: #fff;">
                    grade
                </span>

            </div>

            <div class="quantity">
                ({{Books?.quantity}})
            </div>

            <div class="price">
                Rs. {{Books?.price}}
            </div>

            <div class="discount">
                <del>Rs. {{Books?.discountPrice}}</del>
            </div>

            <div fxHide.xs="Hide">
                <hr class="line" style="width: 800px;margin-top: 30px;margin-left: 0px;">
            </div>

        </div>

        <div class="Book_details">

            <div class="book">
                <p>Book Details</p>
            </div>

            <div class="description" >
                {{Books?.description}}
            </div>

            <div>
                <hr class="line1">
            </div>

        </div>

        <div class="feedback">

            <div class="customer">
                <p>Customer Feedback</p>
            </div>

            <div class="rating">
                <mat-card class="hello" >

                    <div class="overall">
                        <p>Overall rating</p>
                    </div>

                     <div class="mark">
                        <input type="radio" id="star5" name="rate" [(ngModel)]="value" value="5" />
                        <label for="star5" title="Extremely Good ">5 stars</label>

                        <input type="radio" id="star4" name="rate" [(ngModel)]="value" value="4" />
                        <label for="star4" title="Very Good ">4 stars</label>

                        <input type="radio" id="star3" name="rate" [(ngModel)]="value" value="3" />
                        <label for="star3" title="Good ">3 stars</label>

                        <input type="radio" id="star2" name="rate" [(ngModel)]="value" value="2" />
                        <label for="star2" title="Not Bad ">2 stars</label>

                        <input type="radio" id="star1" name="rate" [(ngModel)]="value" value="1" />
                        <label for="star1" title="Bad">1 star</label>
                    </div>

                    <div>
                        <textarea class="review" [(ngModel)]="review" placeholder="Write your review..."></textarea>
                    </div>

                    <div>
                        <button class="submit" mat-button (click)="feedback()">Submit</button>
                    </div>

                </mat-card>

                <div class="array" *ngFor='let feedback of feedbackArray'>
                    <div style="margin-top:10px">
                        <b>{{feedback.user_id.fullName}}</b>
                    </div>

                    <div>
                        {{feedback.rating}}
                    </div>

                    <div class="comment">
                        {{feedback.comment}}
                    </div> 

                </div>

            </div> 

        </div>

    </div>

</div>

<footer class="footer" fxLayoutAlign="center center">
    <p>Copyright &copy; 2020, Bookstore Private Limited. All Rights Reserved</p>
</footer>