.img {
    width: 150px;
    margin-top: 10px;
    margin-left: 300px;
}

.name {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 575px;
}

.image {
    width: 140px;
    margin-top: -5px;
    margin-left: 310px;
}

.name1 {
    margin-top: 5px;
    margin-left: 550px;
}

.name2 {
    margin-top: 5px;
    margin-left: 50px;
}


.name3 {
    margin-top: -32px;
}


.name4 {
    margin-top: -33px;
    margin-left: 70px;
}

.mat-elevation-z8 {
    width: 50%;
    margin-left: 330px;
}

.continue {
    font-size: 14px;
    width: 170px;
    height: 35px;
    margin-top: 20px;
    margin-left: 600px;
    font: Lat;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #3371B5;
    border-radius: 3px;
    border: 1px solid white;
}